.header {
    background: #3359EC;
    color: #ffffff;
    padding: 20px;
}

.header {
    align-items: center;
    display: flex;
    font-size: 28px;
}

.header a {
    color: #ffffff;
    margin: 10px;
}
